.profile-section{
    padding: 0 10rem;
    width: 100w;
    min-height: 100vh;
}

.user-name-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 4rem;

    div {
        .user-social-media{
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
    }
}

.profile-general-info{
    background: orange;
}